<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>sdfcrypto</name>
    <displayName><![CDATA[SDF Crypto Payments]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Accept OURTOKEN (BSC) and USDC (ETH) payments with deterministic addresses, watchers, and non-custodial refunds.]]></description>
    <author><![CDATA[Your Name]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>